@charset "utf-8";
body{ background-color:#ffe7f0; }
.h50{ height:0.667rem}
.block_home_slider .flex-control-paging{ bottom:0}
.element1{ height:7.687rem; background:url(../image/header_bg.jpg) no-repeat;background-size:100% auto; width:100%; padding-top:1.353rem}
.summaryWrap{ padding:0.3rem; background:linear-gradient(to right,#e79b00, #ff518e); border-radius:0.1333rem;margin-top:-0.32rem; box-shadow:0 0.13rem 0.13rem rgba(242,36,67,0.3) }
.summary{ padding:0.32rem; line-height:0.7rem; font-size:0.45rem; text-align:center;  border:2px dashed #fff; border-radius:0.1333rem; color:#fff}
.block_home_slider{ margin-top:-0.3333rem;}
.star span{ position:relative;display:block; width:100% }
.star span img{ width:9.68rem; display:block; float:right; position:absolute; right:0; top:-0.8rem}

/*-----倒计时标题----*/
.countdown{text-align:center;font-size:0.4267rem;   line-height:0.65rem; padding:0.28rem 0; color:#fff; margin-top:0.32rem  }
.countdown em{ display:inline-block; background:url(../image/heart.png) 0 -0.065rem no-repeat; width:0.82rem; height:0.82rem; background-size:100%; font-size:0.37rem; color:#fff;  }


/*-----活动标题----*/
.giftTitle h4{ background:url(../image/titleBg.png); background-repeat:no-repeat; background-size:100% auto; width:6.6rem; height:2.7rem; line-height:2.96rem;  margin:auto; font-size:0.453rem; text-align:center; color:#fff; margin-bottom:0.133rem; position:relative }
.giftTitle h4 span{ }

.numWrap,.contentWrap{  border-radius:0.13rem; background:linear-gradient(to right,#f24273, #fd8baa ); padding:0.3rem 0.2rem 0.4rem 0.2rem;}
.numWrap{ margin-top:-1rem}
.contentWrap{ margin:0 0.32rem; margin-top:-0.2rem}
.num,.content{ background:#ffe7f0; border-radius:0.13rem; padding:0.13rem}
.num,.content{ box-shadow:0 0.13rem 0.13rem rgba(242,36,67,0.3)}
.wave_yellow{ margin-top:-0.9467rem}
.wave_yellow img,.wave_white img{ display:block}
.wave_white{ margin-top:}


/*-----圆角边框和圆角背景----*/
.borDashed{ padding:0.0933333rem;   border-radius:0.1333rem;box-shadow: 0 0 0.1333rem rgba(255,11,218,50);}
.content{ }


.num ul li{ margin-right:0.165rem; margin-left:0; color:#ef1b50}
.num ul li:nth-child(7n){ margin-right:0}
.num img{ border:2px solid #fed0e1}

.cfff{ color:#fff}

.record{ background:none; }
.record li{ border-bottom:0; }
.record li dl{ padding:0.1333rem 0.32rem; padding-left:0}
.record li dd{ padding-right:0.62rem}
.record dl dd span{ line-height:0.92rem; color:#771631}
.record dl dt img{ width:0.667rem; height:0.667rem; border-radius:50%; border:0.04rem solid #fed0e1}

.paihang li{ border-bottom:0}
.paihang li span{ color:#282828}
.paihang li span img{ width:0.58rem}
.paihang li:nth-child(1),.paihang li:nth-child(2),.paihang li:nth-child(3){padding:0.1rem 0; margin-bottom:0.32rem}
.paihang li:nth-child(1) span,.paihang li:nth-child(2) span,.paihang li:nth-child(3) span{background:url(../image/heart.png); background-size:100%; width:0.8rem; height:0.8rem; color:#fff; line-height:0.75rem; margin-right:0.2rem}
.paihang li dd{ color:#771631}
.paihang li em{ right:0.32rem; color:#771631}

.stores,.stores a,.stores .c9,.stores li div { color:#771631}
.stores .c9{ color:rgba(0,0,0,0.5)}
.stores li{ border-bottom:1px solid rgba(0,0,0,0.15)}
.mapBtn input{ background:}
.num li span{ color:#771631}

.mapBtn input,.moreStores a{background:#fa2c4b; color:#fff; box-shadow:0 0.13rem 0.13rem rgba(0,0,0,.1) inset}
.mapBtn:after,.moreStores:after{ background:#e30201; box-shadow:0 0.1rem 0.065rem rgba(0,0,0,.15)}
.fixedNav a{background:#f24374; color:#fff}
.fixedNav a:nth-child(2){background:#ff9b0d;color:#fff}


/*-----支付结果页----*/
.pay_result{ background-color:#fff; padding:0.68rem 0; text-align:center;}
.pay_result img{ width:1.8rem; height:1.8rem; display:block; margin:0 auto 0.32rem;}
/*-----最新购买----*/
.pay_title{ line-height:0.68rem; margin-bottom:0.32rem; font-weight:normal; font-size:0.4533333333333333rem;}
.pay_list{ padding:0.32rem; background-color:#fff;}
.pay_list li{ width:12.4%;}
.pay_list li img{ border:none;}
/*商家位置*/
.pay_part{ background-color:#fff; padding:0.48rem 0.32rem; line-height:0.64rem;}
/*填写发货地址*/
.fill_addr a{ background-color:#fee002; width:100%;color: #000;}


/*-----收银台----*/
.pay_tips{ background-color:#FFF7F5; padding:0.32rem; color:#666; margin-bottom:0.32rem}
.gift_price{ padding:0.32rem; display:flex; justify-content:space-between; align-items:center; background-color:#fff; margin-bottom:0.32rem; font-size:0.4rem;}
.gift_price .price{ color:#ff0000; font-size:0.64rem;}

/*确认支付*/
.pay_submit{padding:0.72rem 0 0.32rem; margin:0 0.32rem}
.button{ background:#FEE002; border:none; height:1.306666666666667rem; width:100%; display:block; font-size:0.4266666666666667rem; border-radius:0.1333rem;cursor: pointer; -webkit-appearance: none;}

/*收银台*/
.pay{ background-color:#fff; min-height:1.333333333333333rem; padding:0.2666666666666667rem 0.3333333333333333rem 0.2666666666666667rem 1.973333333333333rem}
.pay img{ width:1.333333333333333rem; height:1.333333333333333rem; position:absolute; left:0.3333333333333333rem; top:0.2666666666666667rem}
.pay h2{ font-size:0.4533333333333333rem; font-weight:normal; margin-bottom:0.16rem;}
.pay h2 em{ font-style:normal;}
.pay label{ background:#fff; border:1px solid #eee; border-radius:50%; width:0.56rem; height:0.56rem; display:inline-block; position:absolute; right:0.32rem; top:50%; margin-top:-0.28rem;}
.pay input{ width:100%; height:100%; position:absolute; left:0px; top:0px; background:#000; display:block; opacity:0;}
.pay input+label{ border:none; background: url(../image/check.png) no-repeat; background-size:0.56rem;}
.pay input:checked+label{ border:none; background: url(../image/checked.png) no-repeat; background-size:0.56rem;}

.copRight,.copRight span{ color:#771631}

.c771{ color:#771631}

/*切换图多余1像素*/
.block_home_slider {position: relative;width: 8.3rem;margin-left:auto;margin-right:auto;overflow: hidden;}

/*新增左侧我也要创建活动*/
.setUp{display: block; position: fixed;bottom: 2rem;left: 0.13rem;width: 1.2rem;height: 2.533rem;z-index: 5;}
.setUp a{ display:block}
.setUp a img{ display:block; width:100%; -o-animation: icon-shake 1.5s linear infinite; -ms-animation: icon-shake 1.5s linear infinite; -moz-animation: icon-shake 1.5s linear infinite; -webkit-animation: icon-shake 1.5s linear infinite; animation: icon-shake 1.5s linear infinite; }
@-webkit-keyframes icon-shake{from{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);} 10%, 20%{-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);} 30%, 50%, 70%, 90%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);} 40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);} to{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}}
@keyframes icon-shake{from{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);} 10%, 20%{-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);} 30%, 50%, 70%, 90%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);} 40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);} to{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}}

/*-----谁参与了活动-内容部分---*/
.newbuylist ul{ max-height:3.2rem; overflow:hidden}
.newbuylist ul li{  margin:0.13333333333333333rem 0.1rem 0.13333333333333333rem 0.1rem;float: left; overflow: hidden; justify-content: space-around; font-size: 0.29333333333333333rem; text-align: center; }
.newbuylist li span{display: block; height: 0.4rem; line-height: 0.4rem;width:0.99967rem; overflow:hidden;text-overflow:ellipsis;}
.newbuylist img{width: 0.973rem; height: 0.973rem; border-radius:50%;border:0.0267rem solid #fff; display: block; margin: 0 auto; margin-bottom: 0.02666666666666667rem;}

.qunZu .anQuan{ color:#008000}
.qunZu .anQuan img{ width:0.5rem; height:auto; position:relative; display:inline-block; top:0.1rem }
.qunZu .yaoQingMa p{ background:#f7f7f7; display:inline-block; border-radius:0.13rem; padding:0.065rem}
.qunZu .yaoQingMa{ border:1px dashed #d6d6d6; border-radius:0.13rem; padding:0.32rem 0; }
.qunZu .yaoQingMa a{ border-radius:0.065rem; background:#fcdf02; font-size:0.3rem; padding:0.1rem 0.23rem; margin-left:0.23rem}
