@charset "utf-8";
body{ background:#e1295e url(../image/header_bg.jpg) no-repeat center top;background-size:100% auto;}

/*头部*/
header{ padding:1.2rem 0 0;}
header section img{ width:8.533333333333333rem; height:auto; display:block; margin:0 auto;}
.block_home_slider .flex-control-paging{ bottom:0}

/*活动主题*/
.summary{text-align:center; margin:0.8rem 0.32rem 0; position:relative;}
.summary section{ background-color:#fff;  border:0.08rem solid #EDBA13; border-radius:0.12rem; position:relative; z-index:1;}
.summary p{ display:inline-block; padding:0.4rem; line-height:0.64rem;}
.summary:after{ content:""; display:flex; position:absolute; width:100%; height:100%; background-color:#C04B69; right:-0.08rem; top:0.08rem; border-radius:0.4rem;}

/*标题*/
.title{ margin:0 0.32rem; height:1.08rem; text-align:center; font-size:0.4533333333333333rem; color:#db496e; font-weight:normal; height:1.093333333333333rem; background-color:#FDF5BE; border-radius:0.28rem;}
.title span{ position:relative; display:inline-flex; justify-content:center; align-items:center; height:0.92rem;}

/*主体内容*/
.content{margin:-0.24rem 0.64rem 0;  padding:0.32rem; box-sizing:border-box;position:relative; background:#FFFAF1 url(../image/shadow.png) no-repeat center top; background-size:100%;}
.content:after{ content:""; display:block; width:100%; height:0.1066666666666667rem; background:url(../image/content_bg.png) repeat-x; background-size:auto 100%; position:absolute; left:0; bottom:-0.1066666666666667rem}

/*活动倒计时*/
.countdown{ width:8.133333333333333rem; height:1.84rem; margin:0.72rem auto 0.56rem; box-sizing:border-box; color:#E12E62; background:url(../image/countdown_bg.png) no-repeat center; background-size:100%; text-align:center; padding-top:0.38rem;}
.countdown h5{ display:inline-block; font-weight:normal; margin-bottom:0.08rem; position:relative;}
.countdown h5:before,.countdown h5:after{ content:""; display:inline-block; width:0.96rem; height:0.0266666666666667rem; background-color:#E14570; position:absolute; top:50%; margin-top:-0.0133333333333333rem; }
.countdown h5:before{ left:-1.2rem;}
.countdown h5:after{ right:-1.2rem;}
.countdown span{display:inline-block;}
.countdown span em{ display:inline-flex; justify-content: center; align-items:center;text-align:center; border-radius:0.267rem; padding:0 0.14rem;}


/*刮刮卡图层*/
.panel{ z-index: 1; width: 80%; margin:0 auto; position:relative;}
#canvas,#canvas-prize{ position:absolute; width:92%; height:84%; left:4%; top:8%; z-index:1;}
#canvas-prize{ z-index:0;}
#canvas-prize em{ width:4.0rem; height:1.0rem; font-size:0.8rem; position:absolute; left:50%; top:50%; margin-left:-2.0rem; margin-top:-0.5rem; text-align:center; line-height:0.8rem; font-style:normal; font-weight:bold;}
#canvas-mask{position: absolute; left: 50%; top: 50%; z-index: 1; width: 7.49333333rem; height: 4.10666667rem; margin: -2.05333333rem 0 0 -3.74666667rem; z-index:2;}
#canvas-mask #btn{position: absolute; left: 50%; top: 50%; margin: 0.16rem 0 0 -1.48rem; width: 2.96rem; height:0.88rem; border-radius:3px;text-align:center; font-size: 0.38rem; color:#fff;}
#canvas-mask #btn img{ position:absolute; left:0; top:0; z-index:0}
#canvas-mask #btn span{ display:inline-flex; justify-content:center; align-items:center; position:relative; z-index:1; height:0.8rem; font-size:0.48rem;}
#canvas-mask p{margin-top: 1.08rem; text-align: center; font-size: 0.5333333333333333rem; color: #555555;}
.numb{ font-size:0.38rem; color:#fff;text-align: center; position:relative; z-index:2; margin:0.5rem 0;}
.play_num{ color:#fff; font-size:0.3466666666666667rem; text-align:center; margin-bottom:0.4rem;}
.play_num #change{font-size:0.48rem; color:#f2d259}

/*-----谁参与了活动-内容部分---*/
.num ul {font-size:0.32rem; font-}
.num ul li{ width:14.28%; padding:0.16rem; box-sizing:border-box; display:inline-block; float:left; margin:0;}
.num li span{display: block; height: 0.4rem; line-height: 0.4rem; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.num img{width:0.8533333333333333rem; height: 0.8533333333333333rem; border-radius:50%;display: block; margin: 0 auto; margin-bottom: 0.16rem; border:none;}

/*领奖记录*/
.prize_record{ background:none;}
.prize_record li dt img{ border-radius:50%;}
.prize_record li dd span:nth-child(2){ width:28%;}
.prize_record li dd span:nth-child(3){ width:38.66%; text-align:center;}

/*我也要创建活动*/
.createAlso input{ width:6rem; color:#fff; background:url(../image/creatAlso_bg.png) no-repeat center; background-size:auto 100%; border-radius:1.173333333333333rem; box-shadow:5px 5px 5px #B30D28;}

/*版权*/
.copRight{ color:#ffc7c5}
.copRight span{ color:#fff; }

/*我也要创建活动-弹层按钮颜色*/
.popUpTab input.tjBtn {background: #E0295D;}

/*多门店和地图按钮*/
.moreStores a,.mapBtn input{ background-color:#E86585;}
.moreStores:after,.mapBtn:after{background-color:#CB4B6C;}

/*新增左侧我也要创建活动*/
.setUp{display: block; position: fixed;bottom: 2rem;left: 0.13rem;width: 1.2rem;height: 2.533rem;z-index: 5;}
.setUp a{ display:block}
.setUp a img{ display:block; width:100%; -o-animation: icon-shake 1.5s linear infinite; -ms-animation: icon-shake 1.5s linear infinite; -moz-animation: icon-shake 1.5s linear infinite; -webkit-animation: icon-shake 1.5s linear infinite; animation: icon-shake 1.5s linear infinite; }
@-webkit-keyframes icon-shake{from{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);} 10%, 20%{-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);} 30%, 50%, 70%, 90%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);} 40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);} to{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}}
@keyframes icon-shake{from{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);} 10%, 20%{-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);} 30%, 50%, 70%, 90%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);} 40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);} to{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}}