@charset "utf-8";
body{ background:url(../image/bg.jpg); background-size:100%}
.cfff{ color:#fff}

/*头部*/
header{padding:0;background-color:#000643; }
header .header_bg{  display:block}
.block_home_slider{ z-index:2; /*margin-left:0.7333335rem;*/margin-top:1.8rem; position:relative; }
.block_home_slider .flex-control-paging{ bottom:0}
.blk img{ display:block}

/*活动主题*/
.summary{text-align:center; margin:0 0.32rem 0 0.32rem; border:4px solid #b0802d; border-radius:1rem;background:#ffde94; }
.summaryInner{border-radius:0.3rem; position:relative}
.summary p{ display:inline-block; padding:0.32rem 0.6rem; color:#de0702}
.summaryInner em{ width:0.2rem; height:0.2rem; border-radius:0.1rem; background:#dd1a13; display:inline-block; position:absolute; top:50%; margin-top:-0.1rem}
.summaryInner em:nth-child(1){ left:0.13rem;}
.summaryInner em:nth-child(2){ right:0.13rem}


/*头部图片元素*/
.union_element{ margin-top:-0.96rem; position:relative; z-index:2;}
.union_element img{ display:block; width:100%;}
.content{background:#fff; border:2px solid #ffde94; padding:0.32rem }

/*-----倒计时标题----*/
.countdown{text-align:center;  margin:0.32rem;font-size:0.45rem; color:#fc7f94 }
.countdown h5{ color:#ffed9b;background:url(../image/titleCdown.png) no-repeat 0 center; background-size:100%; width:100%; height:0.96rem ; line-height:0.96rem}
.countdown h5 span{  z-index:2; position:relative; padding:0 0.065rem; text-shadow:0 0 0.13rem rgba(0,0,0,0.3)}

.countdownC{ background:rgba(255,255,255,0.3); border-radius:0.13rem; padding:0.32rem }
.countdownC em{ background:#ffde94; border-radius:0.13rem; color:#de0702; padding:0.13rem 0.2rem; margin:0 0.065rem}
.countdown{ text-align:center; font-size:0.4rem;  padding:0.2rem 0;color:#ffed9b; text-shadow:0 0 0.13rem rgba(0,0,0,0.1); margin:0 10%;}
.countdown span em{ font-size: 0.467rem;color:#dd1a13; margin:0 0.13rem; background:#ffde94; border-radius:0.13rem }

/*标题*/
.title{ text-align:center; font-size:0.56rem ; width:100%; margin:0.3rem  0; background:url(../image/title.png) no-repeat; background-size:100%;  height:0.96rem; line-height:0.96rem; color:#ffde94 }

/*-----收银台----*/
.pay_tips{ background-color:#FFF7F5; padding:0.32rem; color:#666; margin-bottom:0.32rem}
.gift_price{ padding:0.32rem; display:flex; justify-content:space-between; align-items:center; background-color:#fff; margin-bottom:0.32rem; font-size:0.4rem;}
.gift_price .price{ color:#ff0000; font-size:0.64rem;}

/*确认支付*/
.pay_submit{padding:0.72rem 0 0.32rem; margin:0 0.32rem}
.button{ background:#FEE002; border:none; height:1.306666666666667rem; width:100%; display:block; font-size:0.4266666666666667rem; border-radius:0.1333rem;cursor: pointer; -webkit-appearance: none;}

/*收银台*/
.pay{ background-color:#fff; min-height:1.333333333333333rem; padding:0.2666666666666667rem 0.3333333333333333rem 0.2666666666666667rem 1.973333333333333rem}
.pay img{ width:1.333333333333333rem; height:1.333333333333333rem; position:absolute; left:0.3333333333333333rem; top:0.2666666666666667rem}
.pay h2{ font-size:0.4533333333333333rem; font-weight:normal; margin-bottom:0.16rem;}
.pay h2 em{ font-style:normal;}
.pay label{ background:#fff; border:1px solid #eee; border-radius:50%; width:0.56rem; height:0.56rem; display:inline-block; position:absolute; right:0.32rem; top:50%; margin-top:-0.28rem;}
.pay input{ width:100%; height:100%; position:absolute; left:0px; top:0px; background:#000; display:block; opacity:0;}
.pay input+label{ border:none; background: url(../image/check.png) no-repeat; background-size:0.56rem;}
.pay input:checked+label{ border:none; background: url(../image/checked.png) no-repeat; background-size:0.56rem;}

/*-----支付结果页----*/
.pay_result{ background-color:#fff; padding:0.68rem 0; text-align:center;}
.pay_result img{ width:1.8rem; height:1.8rem; display:block; margin:0 auto 0.32rem;}

.pay_title{ line-height:0.68rem; margin-bottom:0.32rem; font-weight:normal; font-size:0.4533333333333333rem;}

/*填写发货地址*/
.fill_addr a{ background-color:#fee002; width:100%;color: #000;}

/*商家位置*/
.pay_part{ background-color:#fff; padding:0.48rem 0.32rem; line-height:0.64rem;}


.tips{ font-size:0.32rem;  text-align:center; padding:0.52rem 0 0.32rem 0; position:relative; color:#59fef9}
.tips img{  width:0.29333rem; height:auto; margin:0 0.32rem; position:relative; top:0.06rem}

/*-----谁参与了活动-内容部分---*/
.num ul{ max-height:3.4rem; overflow:hidden}
.num ul li{margin:0.13333333333333333rem 0.1rem 0.13333333333333333rem 0.1rem}
.num ul li img{ border:0.0267rem solid #fff}
.more img{ width:0.4267rem; height:auto; border-radius:0; margin-top:0.4rem; border:0}


/*邀请排行榜*/
.union_rank{ border:2px solid #ffde94; background:#fff}
.union_rank .paihang li em{ right:0.32rem;right: 0.32rem;overflow: hidden;}
.No3{ padding-top:0.36rem; color:#fff; background:#dd1a13}
.No3 li{ width:33.3%; float:left; text-align:center;font-size:0.3467rem; position:relative; height:4.503333rem; padding-bottom:0.32rem }
.No3 li section{ height:2.94rem; position:relative; width:100%; overflow:hidden }
.No3 li p em{ height:0.48rem; line-height:0.48rem; border-radius:0.24rem; padding:0 0.1333rem; color:#dd1a13; background:#ffde94; border-radius:0.6rem; padding:0 0.13rem}
.No3 li p { margin-bottom:0.06rem}
.No3 li span{ display:block; position:relative; z-index:2}
.No3 li span img{ width:1.6rem; height:1.6rem; border-radius:50%;border:0.08rem solid #fce1a3; margin-top:1.09333rem }
.No3 li em img{ width:1.2rem; height:0.69333rem; position:absolute; border-radius:0; top:0.51rem; left:50%; margin-left:-0.6rem; z-index:1 }
.No3 li:nth-child(2){border-radius:0.13333rem 0.13333rem 0 0; top:-0.32rem; padding-bottom:0.32rem; background:none; z-index:2; height:4.8199rem; border-radius:0.13333rem 0.13333rem 0 0;}

.No3 li:nth-child(2) section{ margin-bottom:0.32rem}
.No3 li .tri{ position:absolute; left:0; width:3.29333rem; height:auto; top:0.32rem}
.No3 li:nth-child(2) span img{ width:1.867rem; height:1.867rem; border-radius:50%;border:0.12rem solid #fad111; margin-top:0.81333rem; display:inline-block }
.No3 li:nth-child(2) em img{ width:1.4267rem; height:0.8267rem; position:absolute; border-radius:0; top:0.133rem; left:50%; margin-left:-0.7135rem; }
.No3 li:nth-child(3) span img{ border:0.08rem solid #c6d3e2; }

.paihang li{  margin-top:0.32rem; }



/*-----底部按钮--*/

.union_fixednav{ padding:0.32rem; box-sizing:border-box; height:1.1466666666666667rem;bottom: 0.52rem;}
.union_fixednav a{border-radius:0.6rem 0 0 0.6rem; background:#ffde94 ;color:#de0702; width:50%;}
.union_fixednav a:nth-child(2){ border-radius:0 0.6rem 0.6rem 0;background:#ffde94 ;color:#de0702; border-left:1px solid #de0702; box-sizing:border-box }
.union_fixednav a.mycard{ background-color:#08C304; color:#fff;}
.union_fixednav a.card_code{ width:90%;background-color:#08C304; color:#fff;}

/*我也要创建活动*/
.createAlso input{ color:#e52922; border-radius:0.5866666666666665rem;}

.moreStores a{ background:#ffde94; color:#de0702}
.moreStores:after{background:#b0802d}
.createActivBtn{ background:#ffde94; color:#eb3125}



/*商家详情页*/
.sellerInf{ padding:0.32rem; min-height:1.49rem; position:relative; display:flex; align-items:center; font-size:0.3733333333333333rem;}
.sellerInf a.seller_link{ display:block; }
.sellerInf dl dt{ width:1.49rem; height:1.49rem; position:absolute; left:0.32rem; top:0.32rem;}
.sellerInf dl dt img{ width:100%; height:100%; border-radius:50%; }
.sellerInf dl dd{ margin-left:1.72rem; padding-right:1rem;}
.sellerInf dl dd p{line-height:0.6rem; }
.sellerInf dl dd .tel{width:0.573rem; height:0.573rem; position:absolute; right:0.32rem; top:50%; margin-top:-0.2865rem;}
.sellerInf dl dd img{ width:100%}

.seller_banner{ width:100%;}
.seller_banner .flex-control-paging {bottom: 0.2rem;}
.seller_banner .slides img{ border-radius:0}

/*核销码弹窗*/
.popupVerf{ position:fixed; width:100%; height:100%; left:0; top:0;}
.popupVerf:before{ content:""; display:inline-block; position:absolute; left:0; top:0; width:100%; height:100%; background-color:#000; opacity:0.8;}
.verfBox{ position:relative; z-index:1; width:80%; margin:0 auto;}
.verfBd{ background-color:#fff; border-radius:5px; padding:0.4rem;}
.verfBd h3{text-align:center; font-size:0.45333rem; font-weight:normal; margin-bottom:0.4rem;}
.verfItem{ padding:0.2rem 0 0.2rem 1.12rem; font-size:0.37333rem; position:relative; min-height:0.48rem; line-height:0.58666rem;}
.verfItem span{ color:#999; position:absolute; left:0; top:0.2rem;}
.verfItem.btn{ padding-left:0;}
.btnVerf{width:100%; height:1.12rem; line-height:1.12rem; background-color:#FF8400; color:#fff; font-size:0.37333rem; border:none; border-radius:3px; margin-bottom:0.2rem}
.btnVerf.disabled{ background-color:#999}
.closeBtn {width: 1.12rem; height: 1.12rem; margin: 0 auto; display: block; margin-top: 0.42666rem;}

/*我也要创建活动-弹层按钮颜色*/
.popUpTab input.tjBtn {background: #E54640;}

.c4c4{ color:#4c4775}

/*购买记录*/
.record{ background:none; }
.record li{ border-bottom:0; }
.record li dl{ padding:0.1333rem 0.32rem; padding-left:0}
.record dl dd span{ line-height:0.92rem}
.record dl dt img{ width:0.667rem; height:0.667rem; border-radius:50%; border:2px solid #fff}


.copRight,.copRight span{ color:#fff}


.mapBtn input{ background:#ffde94; color:#de0702}
.mapBtn:after{background:#b0802d}

.view{ height:0.52rem; margin-bottom:0.4rem; font-size:0.373rem}
.view span{ display:block; float:left; width:50%; border-right:1px solid #e4e4e4; text-align:center; box-sizing:border-box;}
.view span{ border-right:0; color:#4c4775}
.view .nametitle span{ width:100%; float:none;}

/*新增左侧我也要创建活动*/
.setUp{display: block; position: fixed;bottom: 2rem;left: 0.13rem;width: 1.2rem;height: 2.533rem;z-index: 5;}
.setUp a{ display:block}
.setUp a img{ display:block; width:100%; -o-animation: icon-shake 1.5s linear infinite; -ms-animation: icon-shake 1.5s linear infinite; -moz-animation: icon-shake 1.5s linear infinite; -webkit-animation: icon-shake 1.5s linear infinite; animation: icon-shake 1.5s linear infinite; }
@-webkit-keyframes icon-shake{from{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);} 10%, 20%{-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);} 30%, 50%, 70%, 90%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);} 40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);} to{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}}
@keyframes icon-shake{from{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);} 10%, 20%{-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);} 30%, 50%, 70%, 90%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);} 40%, 60%, 80%{-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);} to{-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}}
/*切换图多余1像素*/
.block_home_slider {position: relative;width: 8.3rem;margin-left:auto;margin-right:auto;overflow: hidden;}

/*-----谁参与了活动-内容部分---*/
.newbuylist ul{ max-height:3.2rem; overflow:hidden}
.newbuylist ul li{  margin:0.13333333333333333rem 0.1rem 0.13333333333333333rem 0.1rem;float: left; overflow: hidden; justify-content: space-around; font-size: 0.29333333333333333rem; text-align: center; }
.newbuylist li span{display: block; height: 0.4rem; line-height: 0.4rem;width:0.99967rem; overflow:hidden;text-overflow:ellipsis;}
.newbuylist img{width: 0.973rem; height: 0.973rem; border-radius:50%;border:0.0267rem solid #fff; display: block; margin: 0 auto; margin-bottom: 0.02666666666666667rem;}

.qunZu .anQuan{ color:#008000}
.qunZu .anQuan img{ width:0.5rem; height:auto; position:relative; display:inline-block; top:0.1rem }
.qunZu .yaoQingMa p{ background:#f7f7f7; display:inline-block; border-radius:0.13rem; padding:0.065rem}
.qunZu .yaoQingMa{ border:1px dashed #d6d6d6; border-radius:0.13rem; padding:0.32rem 0; }
.qunZu .yaoQingMa a{ border-radius:0.065rem; background:#fcdf02; font-size:0.3rem; padding:0.1rem 0.23rem; margin-left:0.23rem}
